#main {
    width: 95%;
    margin: auto;
    height: 100vh;
}

#main-website-logo-image {
    width: 6%;
    margin-left: 45%;
}

.main-wesite-navbar {
    margin-bottom: 3%;
}


* body {
    padding: 0;
    margin: 0%;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", sans-serif;

}

/* .main-wesite-navbar{
    padding: 2%;
} */
.nav-elements {
    /* position: absolute; */
    /* position: -webkit-sticky; */
    /* position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky; */

    z-index: 2;
    background-color: white;
    height: 6vh;
    display: flex;
    width: 95%;
    /* position: sticky; */
    margin-left: 1%;
    /* top : 0; */
    /* overflow: hidden; */
    /* position: relative; */
    position: sticky;
        top: 0;
    
    /* background-color: red; */
}

@supports( position: sticky){
    .nav-elements{
        position: sticky;
        top: 0;
    }
}

#menu_checkbox {
    display: none;
}

.menu-shopbyCategory {
    border: 2px solid grey;
    height: 5.9vh;
    width: 18%;

}

#shopByCategory>h3 {
    margin: 3%;
    font-size: medium;
    margin-top: 5%;
    margin-left: 25%;
    cursor: pointer;
}

label {
    position: absolute;
    top: -25%;
    right: -10%;
    left: 0%;
    margin: 2%;
    display: block;
    width: 2%;
    height: 2%;
    transform: translateY(-50%);
    transition: 0.3s ease transform;
    cursor: pointer;
}

label div {
    width: 5px;
    height: 3px;
    background-color: orangered;
    margin-left: 5%;
    margin-bottom: 6px;
    border-radius: 4px;
    transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom,
        0.3s ease background-color;
}

label div:first-child {
    width: 22px;
}

label div:nth-child(2) {
    width: 22px;
}

label div:last-child {
    width: 22px;
    margin-bottom: 0;
}

*/ #menu_checkbox:checked+label {
    transform: translateY(-50%) rotateZ(-90deg);
}

#menu_checkbox:checked+label div {
    width: 5px;
    margin-left: 12px;
    margin-bottom: 3px;
    background-color: #ffc107;
}



#nav-bar-inputSearch {
    margin-left: 8%;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", sans-serif;
    width: 350%;
    padding: 4%;
    height: 4vh;
    border: 1px solid grey;
    outline: none;
}

.searchIcon{
    /* width: 60%; */
    cursor: pointer;
    margin-left: 29%;
    
    /* margin-bottom: -10px; */
}
#searchicon{
    margin-top: 2%;
    width: 15%;
 
}

#MyOrders {
    display: flex;
    margin-left: -10%;
    height: 4vh;
    width: 10%;
    cursor: pointer;
}
#MyOrders img {
    margin-top: 5%;
    height: 4.2vh;
    width: 20%;
}

#MyOrders>p {
    padding-left: 4%;
    padding-top: 6%;
    margin: 0;
}

#Cart-navBar {
    display: flex;
    justify-content: space-evenly;
    width: 10%;
    cursor: pointer;
}

#Cart-navBar>img {
    width: 20%;
    margin-top: 2%;
    height: 5vh;
}

#Cart-navBar>p {
    padding-left: 2%;
    margin: 0;
}

#Login-Signup {
    display: flex;
    margin-left: 2%;
    cursor: pointer;
}

#Login-Signup img {
    width: 28%;
}

#Login-Signup>p {
    /* margin-left: 5%; */
    padding-top: 6%;
    margin: 0;
}


/* ////////////////////SHOP-BY=CARDS-DROPDOWN//////////////////// */
.gift-cards {
    /* width: 50%;
    margin-left: 15%; */
    margin-top: 2%;
    color: orangered;
    width: 10%;
    /* border: 5px solid brown; */
}

.gift-cards-contents {
    width: 50%;
    /* margin-bottom: 60%; */
    /* border: 2px solid blue; */
    /* margin-left: 30%; */
}

.shopByCatogery-DropDown {
    /* display: flex; */
    position: absolute;
    background-color: white;
    z-index: 4;

    margin-top: 0;
    width: 100%;
    padding: 1%;
    padding-top: 3%;
    padding-left: 6%;
    /* border: 2px solid green; */
    /* padding-bottom: 20%; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", sans-serif;
    display: none;
}



/* /////////////////////search-bar-dropDown////////////////////////// */


.searchBox {
    width: 44%;
    position: absolute;
    background-color: white;
    top: -4.9%;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 2%;
    margin-top: 12%;
    margin-right: 5%;
    margin-left: 17.5%;
    display: none;
    z-index: 2;
    /* border: 1px solid red; */
}

.popular-search {
    color: orangered;
}

/* logo */
.logo {
    display: flex;
    gap: 10px;

}

.logo>div {
    border-radius: 50px;
}

.logo img {
    border-radius: 100px;
    border: 1px solid gray;
}

.logo h5 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 18px;
}

.corousel-image {
    border-radius: 50%;
    width: 50%;
}

.box1,
.box2,
.box3 {
    width: 90%;
    margin-top: 5%;
    margin-left: 4%;

}


/* Four Divs */
#four-div {
    display: flex;
    margin-top: 80px;
}

#four-div img {
    width: 25px;
    height: 25px;
    display: block;
    margin: auto;
    /* border: 1px solid red; */
}

#four-div h4 {
    margin-top: 0px;
    text-align: center;
}

/* slider One */

.transition1 {
    /* background-color: red; */
    overflow: hidden;
    border: 2px solid rgb(253, 253, 253);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    text-align: center;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#transition1>div>img:hover {
    transform: scale(1.1);
    transition: all 1s;
}

#transition1 img{
    width: 100%;
}

#transition1>div {
    overflow: hidden;
    border: 2px solid white;
}


/* SECOND SLIDER */
body {
    margin: 0;
    padding: 0;
}

#transition2 {
    overflow: hidden;
    border: 2px solid white;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    text-align: center;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#transition2>div>img:hover {
    transform: scale(1.1);
}

#transition2>div>img {
    transition: all 1s;
    width: 100%;
}

#transition2>div {
    overflow: hidden;
    border: 2px solid white;
}

/* sliderheadings */

#slidehead {
    text-align: center;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Footer  */
#aboutus {
    background-color: #F4F5F4;
    padding: 20px 0px;
    display: grid;
    grid-template-columns: 8fr 4fr;

}

#aboutus>:nth-child(1) {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;

}

#aboutus>:nth-child(2) {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;

}

#seller {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #FEFFFE;
    padding: 10px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#seller2 {
    display: flex;
    /* border: 1px solid red; */
    gap: 5px;
}



#everything>:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px;

}


/* **********************************sign-in page********************************************* */

.signinpage-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    height: 150vh;
    background-color: black;
    opacity: 0.3;
}
.login-as-admin{
    color: blue;
    text-align: center;
    margin-bottom: 5%;
    cursor: pointer;
}
.hidden {
    display: none;
}
.sign-in-page {
    width: 30%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    z-index: 4;
    top : 15%;
    right : 35%;
    background-color: whitesmoke;
}

#sign-in-page-text {
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 3%;
    padding-bottom: 5%;
}

#e-mail-signin-page {
    margin-left: 13%;
    padding: 2.5% 15%;
    margin-bottom: 3%;
    border-radius: 1%;
    box-sizing: border-box;
    border: 1px solid gainsboro;
}

#password-signin-page {
    margin-left: 13%;
    padding: 2.5% 15%;
    margin-bottom: 3%;
    border-radius: 1%;
    box-sizing: border-box;
    border: 1px solid gainsboro;
}


.rem-forget {
    display: flex;
    justify-content: space-around;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    
}
.checkbox-align{
    margin-left: 3%;
}
#forget-password{
    color: blue;
    margin-top: 6%;
    margin-right: 0%;
}
.sign-in-now{
    width: 67%;
    margin: auto;
    border: 1px solid grey;
    padding: 2% 4%;
    text-align: center;
    color: white;
    background-color: black;
    cursor: pointer;
    font-weight: bold;
    font-family: soleil, Helvetica, Arial, sans-serif;
}
.privacy-policy{
    margin-left: 10%;
    font-size: 14px;
    padding-bottom: 15%;
    padding-top: 5%;
}
.dont-have-account{
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    margin: 0;
    justify-content: space-around;
}
.dont-have-account-left{
    margin-left: 12%;

}
.dont-have-account-right{
    margin-right: 15%;
    color: blue;
    cursor: pointer;
}
#cross{
    /* border: 1px solid red; */
    padding: 5%;
    margin-left: 85%;
    cursor: pointer;
    margin-top: -15%;   
}

/* ////////////////////////////sign-up-form///////////////////////////////////// */

.sign-up-page {
    width: 30%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    z-index: 4;
    top : 15%;
    right : 35%;
    background-color: whitesmoke;
}

#sign-up-page-text {
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 3%;
    padding-bottom: 5%;
}

#e-mail-signup-page {
    margin-left: 15%;
    padding: 2.5% 15%;
    margin-bottom: 3%;
    border-radius: 1%;
    border: 1px solid gainsboro;
}

#password-signup-page {
    margin-left: 15%;
    padding: 2.5% 15%;
    margin-bottom: 3%;
    border-radius: 1%;
    border: 1px solid gainsboro;
}

#country-select{
    margin-left: 15%;
    margin-top: 3%;
    padding: 2.5% 22%;
}
.remember-forget {
    
    margin-left: 9%;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    
}
.checkbox{
    margin-left: 3%;
}

.sign-up-now{
    width: 67%;
    margin: auto;
    border: 1px solid grey;
    padding: 2% 4%;
    text-align: center;
    color: white;
    background-color: black;
    cursor: pointer;
    font-weight: bold;
    font-family: soleil, Helvetica, Arial, sans-serif;
}
.privacy{
    margin-left: 10%;
    font-size: 14px;
    padding-bottom: 10%;
    padding-top: 5%;
}
.already-have-account{
    padding-top: 5%;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-around;
}
.already-have-account-left{
    margin-left: 12%;

}
.already-have-account-right{
    margin-right: 17%;
    color: blue;
    cursor: pointer;
}
.cross-signup{
    padding: 5%;
    margin-left: 85%;
    cursor: pointer;
    margin-top: -15%; 
}

/* **********************LOGIN-AS -ADMIN******************************** */
.login-Admin{
    margin:auto;
    margin-top: 5%;
    width: 30%;
    position: absolute;
    z-index: 4;
    top : 5%;
    right : 35%;
    background-color: whitesmoke;
    /* border: 1px solid blue; */
    height: 80vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cross-admin{
    margin-left: 93%;
    margin-top: -14%;
    cursor: pointer;
    
}

.login-as-admin-heading{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    margin-top: 3%;
    padding-top: 4%;
    margin-bottom: 8%;
}
.inputOfAdmin{
    width: 60%;
    height: 5vh;
    margin: 2%;
    margin-left: 18%;
    outline: none;
}
.Admin-submit{
    width: 60%;
    height: 6vh;
    margin: 2%;
    margin-left: 19%;
    color: white;
    background-color: teal;
    border: none;
    font-size: medium;
  font-weight:600;
  cursor: pointer;
    border-radius: 7px;
}
.privacy-policy{
margin-left: 10%;
font-size: 14px;
padding-bottom: 15%;
padding-top: 5%;
}
.hidden{
    display: none;
}

